.video-backgound {
  min-height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
}

.main-card {
  position: fixed;
  width: 70%;
  background: url("https://i.imgur.com/8QNvXm8.jpg");
  padding: 15px;
  margin-left: 10%;
  margin-top: 10%;
  z-index: 1;
}

.photo {
  max-width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 8px 2px rgb(73, 72, 72);
}

.photo-title {
  font-size: 14pt;
  font-family: "Strait", sans-serif;
  letter-spacing: 1.2px;
  color: rgb(4, 3, 10);
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 25px;
}

.photo-date {
  font-size: 11px;
}

.photo-description {
  font-size: 8.5pt;
}
