.video-backgound {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 38pt;
  font-family: "didot";
}

.main-card {
  width: 60%;
  background-color: rgb(181, 179, 190);
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 22px;
}

.photo {
  max-width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-title {
  font-size: 15pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-description {
  font-size: 9pt;
}
